PORT=3030
NODE_ENV=development

DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-flash
DEEPSEEK_BASE_URL=https://api.deepseek.com

COPERNICUS_CLIENT_ID=
COPERNICUS_CLIENT_SECRET=

COPERNICUS_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
COPERNICUS_CATALOG_URL=https://sh.dataspace.copernicus.eu/catalog/v1
COPERNICUS_PROCESS_URL=https://sh.dataspace.copernicus.eu/process/v1